# Rust
**/target/
Cargo.lock

# Tools
**/tools/

# ESP
**/s3-pico/target/
**/firmware/target/

# ROS 2 (generated)
**/build/
**/install/
**/log/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.*

# Logs
*.log
